{% extends "index.html" %}
{% load static %}
{% block content %}

<div class="aboutsct">
    <div class="aboutsctsub">
        <h2>About SAEINDIA SCT Chapter</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and presetting industry.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.</p>
    </div>
</div>

{% endblock %}