@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    padding-top: 6rem;
    background-color: #fff;
    margin: 0;
}

h2 {
    font-size: 1.75rem;
    font-family: Orbitron;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 1em;
}

.topnav {
    z-index: 1;
    top: 0;
    position: fixed;
    width: -webkit-fill-available;
    width: -moz-available;
    overflow: clip;
    padding: 1em;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
}

.topnav img {
    position: relative;
    width: 150px;
}

.topnav .navlist {
    width: 60vw;
    margin-left: auto;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}

.topnav .navlist .navitem a {
    float: left;
    display: block;
    font-family: Inter;
    font-weight: 600;
    color: #000;
    text-align: center;
    padding: .5em 1.5em;
    text-decoration: none;
    font-size: 20px;
}

.topnav .navlist .navitem .active {
    color: #224E7D;
}

.topnav .icon {
    display: none;
    padding: 1em;
}

.off {
    display: none;
}

.on {
    display: none;
}

.homeimage {
    width: 100%;
    position: relative;
}

.homeimage img {
    height: 85vh;
    object-fit: cover;
    width: 100%;
}

.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000007c;
    opacity: 0.7;
    top: 0;
}



.aboutsection {
    box-sizing: border-box;
    position: relative;
    top: -5px;
    background-color: #000;

    padding: 3% 5vw;
    width: 100%;
    align-items: center;
}

.aboutsection h2 {
    color: #fff;
}

.aboutsection p {
    text-indent: 5em;
    text-align: justify;
    font-family: Poppins;
    color: #fff;
}

.member {
    position: relative;
    top: -5px;
}

.member img {
    object-fit: cover;
    height: 30vh;
    width: 100%;
}

.memberoverlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #00000081;

}

.membersub {
    margin: auto;
    display: flex;
    gap: 1px;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 75%;
    box-shadow: 0px 0px 1em .5em #00000081;
    backdrop-filter: blur(22px);
    border-radius: 10px;
    background: linear-gradient(225.6deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0.24) 100%);
}

.membercard p {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: Poppins;

}

.membercard p.no {
    font-size: 4rem;
}


.eventsection {
    box-sizing: border-box;
    position: relative;
    top: -10px;
    background-color: #fff;
    padding: 3% 5vw;
    width: 100%;
    align-items: center;
}

.eventsection h2 {
    color: #4B0081;
}

.eventsub {
    justify-content: space-around;
    display: flex;
}

.eventcard {
    overflow: hidden;
    height: 500px;
    width: 27vw;
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
   
}

.eventimg img {
    position: static;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.eventc {
    padding: 1em;
}

.eventc p {
    font-family: Montserrat;
    margin-top: 0;
}

.fulleventbutton {
    margin: 0 auto;
    background: #224E7D;
    width: fit-content;
    transform: skew(-20deg);
}


.fulleventbutton p {

    color: #fff;
    padding: .5em .75em;
    font-family: Poppins;
    text-align: center;
    transform: skew(20deg);
}

.fulleventbutton a {
    text-decoration: none;
}

.eventbuttonb {
    position: absolute;
    top: .3em;
    left: .3em;
    width: 100%;
    height: 100%;
    border: .1em solid #224E7D;
    box-sizing: border-box;
    z-index: -1;
}

.eventname {
    font-weight: bold;
    font-size: large;
}

.contact {
    background: #212121;
    padding: 3% 5vw 0 5vw;
}

.contactHeader {
    display: flex;
    justify-content: space-between;
}

.git {
    color: #EBEBEB;
    margin: 0;
    font-family: Orbitron;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 55px;
    letter-spacing: 0.02em;
}

.upbutton {
    border-radius: 50%;
    background: #006287;
    height: 31px;
    width: 31px;
    border: none;
    outline: none;
    cursor: pointer;
}

.uparrow {
    width: 13px;
    padding: 1%;
}

.subSection {
    display: flex;
    gap: 5vw;
}


.rightSection {
    margin-left: auto;
    float: right;
    width: 40vw;
}

.mapcontainer {
    overflow: hidden;
    height: 300px;
    width: 100%;
    position: relative;
}

.mapcontainer iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.conatctSection {
    padding-top: .5em;
}

.contactDetails {
    display: flex;
    gap: 15px;
    margin-top: 1.5vh;
}

.contactDetails p {
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.62);
    font-family: Poppins;
}

.contactIcon {
    width: 15px;
    height: auto;
}

.footerText {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.62);
    font-family: Poppins;
    text-align: center;
    margin: 0;
    padding: 3vh 0;
}



@media screen and (max-width: 600px) {

    .topnav .navlist {
        display: none;
    }

    .topnav .icon {
        display: block;
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    .on {
        background-color: #fff;
        padding-left: 0;
        margin-top: 0;
        display: block;
        list-style-type: none;
    }

    .on .navitem {
        padding: .5em;
    }

    .on .navitem a.active {
        color: #224E7D;
    }

    .on .navitem a {
        font-family: Inter;
        font-weight: 600;
        color: #000;
        text-align: center;
        padding: .5em 1.5em;
        text-decoration: none;
        font-size: 17px;
    }

    .aboutsection p {
        text-indent: 3em;
        font-size: small;
    }

}

.placeholder {
    box-sizing: border-box;
    position: relative;
    background-color: #000;
    padding: 3% 5vw;
    width: 100%;
    align-items: center;
}

.placeholder h2 {
    color: #fff;
}